body{
    background-image:url(content-pixie-1yd-Lw6fmNI-unsplash.jpg); width: auto
}
h1 h2 {font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}
button {
    padding-left: 20px;
    width: 250px;
    height: 70px;
    font-size: 24px;
    background-color: green;
}

button:hover {
    background-color: orange
}
p {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color:Black;
  }

.active {
    background-color: #4CAF50;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    display: inline;
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
li a:hover {
    background-color: lawngreen;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    }
.alert {
    margin: 20px;
}

  